<div class="row pick-options text-center">
    <p class="choice-title h4">{{ include.caption }}</p>

    {% assign colDiv = 12 | divided_by:include.param.size %}

    {% for item in include.param %}
        <div class="col-xs-{{colDiv}} col-md-{{colDiv}} col-lg-{{colDiv}} col-sm-{{colDiv}} text-center">
            <a class="thumbnail" data-val="{{ item.name }}" data-valtype="{{ include.type }}">
                <img class="img-circle img-responsive" src="{{item.img}}" alt="{{item.name}}">
                <span class="selection glyphicon glyphicon-ok" aria-hidden="true"></span>
            </a>
        <p class="h4">{{item.name}}</p>
    </div>
    {% endfor %}
</div>
