.keyboard {
  min-width: 1000px;
  font-family: 'Cabin Condensed', monospace;
  font-size: 12px;
  overflow: hidden;
}

.key {
  display: inline-block;
  padding: 16px 10px;
  border-radius: 3px;
  margin: 4px;
  opacity: 0.6;
  transition: background-color 300ms;
  box-shadow: 0 3px 6px #979797;
  
}
.key:hover {
  background-color: #45506c;
  color: #eee;
  box-shadow: 0px 1px 2px #aaa;
}

.highlightedKey {
  animation: highlight 700ms;
}

@keyframes highlight {
  0% { background-color: initial; }
  50% {
    background-color: #45506c;
    color: #eee;
    box-shadow: 0px 1px 2px #aaa;
  }
  100% { background-color: initial; }
}