<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

	{% include navbar.html %}

	{{ content }}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/scripts/mix-and-match.js"></script>
</body>

</html>
